/* General */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    margin: 0;
    font-family: 'Hanken Grotesk', arial;
}
/* End of general */

/* Desktop style */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    margin-top: 80px;
}
/* First section */
.firstSection {
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    width: 250px;
    padding: 25px;
}
.firstSectionTitle {
    color:  hsl(224, 30%, 27%);
}
.firstResultTitle, .resultDescription, .mainValue {
    color: hsl(0, 0%, 100%);
}
.firstSectionContainer {
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 170px;
    width: 180px;
    border-radius: 120px;
}
.mainValue {
    margin-top: 35px;
    font-size: 36px;
}
.secondValue {
    color: hsl(241, 100%, 89%);
    margin-top: 15px;
}
.firstResultTitle {
    font-size: 36px;
}
.resultDescription {
    margin-top: 15px;
    text-align: center;
}
/* End of first section */
/* Second  section */
.secondSection {
    margin-top: -70px;    
}
.secondSectionTitle {
    margin-bottom: 40px;
    color: hsl(224, 30%, 27%);
    font-weight: 700;
}
.subContainer {
    margin-top: 25px;
    padding: 0;
    gap: 45px;
    display: flex;
    column-gap: 2em;
}
.subTitle {
    font-size: 18px;
}
.subResult {
    margin-left: auto;
}
.btnContainer {
    background: hsl(224, 30%, 27%);
    width: 250px;
    height: 35px;
    border-radius: 30px;
    text-align: center;
    margin-top: 25px;
    padding-top: 15px;
}
.btnProgress {
    color: white;
    text-decoration: none;
}
/* End second section */
.disclaimer {
    margin-top: 18px;
    text-align: center;
}