/* General */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    margin: 0;
    font-family: 'Hanken Grotesk', arial;
}

/* Desktop style */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    margin-top: 80px;
}
.firstSection {
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 25px;
    height: 250px;
    width: 350px;
}
.secondSection {
}
.subContainer {
    display: flex;
    gap: 55px;
}
.disclaimer {
    margin-top: 18px;
    text-align: center;
}